/* HaasGrotDisp */
@font-face {
    font-family: 'HaasGrotDisp';
    src: url('./../assets/font/HaasGrotDisp-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HaasGrotDisp';
    src: url('./../assets/font/HaasGrotDisp-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HaasGrotDisp';
    src: url('./../assets/font/HaasGrotDisp-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'HaasGrotDisp';
    src: url('./../assets/font/HaasGrotDisp-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HaasGrotDisp';
    src: url('./../assets/font/HaasGrotDisp-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}   
