$colors: (
    "black": #000000,
    "blue": #0C1020,
    "gray": #4C6680,
    "pink": #D99E94
);
$browser_context: 16; // Default

@function rem($pixels, $context: $browser_context) {
    @return #{$pixels/$context}rem;
} 
  
@function em($pixels, $context: $browser_context) {
    @return #{$pixels/$context}em;
} 

$curve: cubic-bezier(0,0,0.09,0.87);
$margin: em(125); 
$header_h: 113; // px
$header_h: em($header_h);
$mobile: 430px;

