@import 'normalize.scss';
@import 'variables.scss';
@import 'fonts.scss';
*{
    -webkit-font-smoothing: antialiased !important;
    font-smooth: almays;
    text-shadow: 0px 0px 1px transparent;
}
body, html{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none; 
}
*{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
.shadow{
    text-shadow: 0 2px 6px rgba(0,0,0,0.11);
}
p{
    font-size: em(20);
    letter-spacing: 0;
    line-height: em(26, 20);
    @media screen and(max-width: $mobile){
        font-size: em(13);        
    }    
}
body{
    //background: rgb(244, 183, 59);
    //background: linear-gradient(12.99deg, #5F92B7 12.7%, rgba(109, 165, 182, 0) 30.54%), linear-gradient(21.69deg, #6DA5B6 19.43%, rgba(105, 171, 145, 0) 55.57%), linear-gradient(207.16deg, rgba(179, 190, 87, 0.16) 33.38%, #69AB91 54.68%), linear-gradient(133.55deg, #7E974B 8.31%, #B3BE56 40.44%);
    color: white;
    font-family: HaasGrotDisp;
} 
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(138, 159, 77, 0.93);    
    transition: opacity 0.5s $curve;
    &.hide{
        opacity: 0;
        pointer-events: none;
    }
}
#bgGradient{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.margin-default{
    margin-top: $margin; 
    margin-bottom: $margin;
}
.title-border{
    font-size: em(30);
    font-weight: 500;
    &::before{
        content: '';
        width: em(120, 30);
        height: em(1.7, 30);
        display: block;
        margin-bottom: em(34, 30);
        background: currentColor;
    }
    @media screen and(max-width: $mobile){
        font-size: em(16);
    }
}
header{
    $padding_top: em(51);
    width: 100%;
    height: $header_h;
    box-sizing: border-box;
    padding-top: $padding_top;
    font-weight: 500;
    font-size: em(16);
    a{
        color: currentColor;
    }
    .logo{
        img{
            height: em(57);
        }
    }
    nav{
        a{
            margin-right: em(50);
            transition: opacity 0.5s $curve;                       
            &:hover{                    
                opacity: 0.6;
            }
        }
    }
    .lang{
        cursor: pointer;
        position: relative;
        &::before {
            content: '';
            width: calc(100% + 20px);
            height: 50px;
            background-color: rgba(255, 255, 255, 0.18);
            display: block;
            position: absolute;
            z-index: -1;
            left: -9px;
            top: -12px;
            opacity: 0;            
            transition: all 0.5s $curve;            
        }
        .arrow{
            width: em(13);
            height: em(13);
            margin-left: em(5);
        }
        .option{
            width: 100%;
            position: absolute;
            opacity: 0;
            pointer-events: none;
            transform: translateY(10px);   
            transition: all 0.5s $curve; 
        }
        &.openned{
            &::before{
                top: -7px;    
                opacity: 1;            
            }
            .option{
                transform: translateY(0);
                opacity: 1;
                pointer-events: all;
                &:hover{                    
                    opacity: 0.6;
                }
            }
        }
    }
    @media screen and(max-width: $mobile){
        width: auto;
        .logo{
            img{
                height: em(37);
            }
        }
        .row{
            margin: 0;
        }
        nav{
            width: 100%;
            height: 100vh;

            position: fixed;
            left: 0;
            top: 0;
            z-index: 98;
            display: flex;
            flex-direction: column;
            justify-content: center;

            opacity: 0;
            background-color: rgba(138, 159, 77, 0.63);
            pointer-events: none;
            a{
                display: block;
                text-align: center;
                margin: 0;
                margin-bottom: 40px;
                opacity: 0;
                transition: none;
                &:last-child{
                    margin: 0;
                }
            }
            &.openned{
                pointer-events: all;
            }
        }
        .lang{
            position: absolute;
            top: em(59);
            right: em(100);
            &::before{
                height: 65px;
            }
            &.openned{
                &::before{
                    top: -10px;
                }
                .option{
                    transform: translateY(8px);
                }
            }
        }
    }    
}
#toggle{
    width: 50px;
    height: 50px;
    padding: 12px 9px;
    position: absolute;
    top: em(43);
    right: em(35);
    display: none;
    background: transparent;
    border: none;
    z-index: 99;
    svg{
        width: 100%;
        height: 100%;
        fill: white;
        overflow: visible !important;
        path{
            transform-origin: 50% 50%;
            transition: all 0.5s $curve;
        }
    }
    &.close svg{
        path:nth-child(1){
            transform: translateY(7px) translateX(7px) rotateZ(-45deg);
        }
        path:nth-child(2){
            transform: translateY(0px) rotateZ(45deg);
        }
        path:last-child{
            opacity: 0;
            transform: translateX(4px);
        }
    }
    @media screen and(max-width: $mobile){
        display: block;
    }    
}
.bg-section{
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: -1;
    overflow: visible !important;
    height: auto;
    *:not(g){
        opacity: 0;
    }
}
#bgContainer{
    //display: none;
    //position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;

    overflow: hidden;
    svg{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        //transition: opacity 0.5s $curve;
        overflow: visible !important;
        *:not(g){
            opacity: 0;
        }
    }
}
#cover{
    width: 100%;
    height: calc(100vh - #{$header_h} - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    //overflow: hidden;
    figure{
        width: em(480);
        position: absolute;
        z-index: 0;
        transform: translateY(20px);
        img{
            width: 100%;
        }
    }
    .content{
        font-weight: 500;
        z-index: 2;
        .counter{
            font-size: em(120);
            text-shadow: 0 2px 40px rgba(0,0,0,0.30);
            display: flex;
            //justify-content: center;
            position: absolute;
            /*width: 4.3em;
            transform: translateX(81px);*/
            .number{
                position: relative;
                white-space: nowrap;   
                transform: translateX(-160px);             
                span{
                    display: inline-block;
                    transition: all 0.5s $curve;
                    &:last-child{
                        //width: em(20, 120);
                    }
                }
            }
            .units{
                //margin-left: em(35, 120);
                //right: 0;
                position: absolute;
                //transform: translateX(120%);
                transition: all 1s $curve 0.2s;
            }
        }
        h3{
            max-width: em(370, 35);
            margin-top: em(13, 35);
            margin-bottom: 0;
            margin-left: auto;
            margin-right: auto;
            font-size: em(35);
            line-height: em(35, 35);
            padding-top: 150px;
            text-shadow: 0 2px 40px rgba(0,0,0,0.30);
        }
    }
    @media screen and (max-width: $mobile){
        figure{
            width: 20em;
        }
        .content {
            .counter{
                font-size: 3.5em;
                .number{
                    transform: translateX(calc(-50% + 60px));
                }
            }
            h3{
                font-size: 1.1875em;
                padding-top: 70px;
            }
        }
        
    }
}
.video{
    overflow: hidden;
    position: relative;
    //width: em(900);
    width: 100%;
    height: em(600);
    margin-left: auto;
    margin-right: auto;
    &-overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000;
        z-index: 3;
        transform: translateX(-100%);
        pointer-events: none;
    }
    
    &-cover{
        background-size: cover;
        background-position: center;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
        background-image: url('../assets/img/video_cover.png');
        /*&:before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(000,000,000,0.6);
        }*/
    }
    &-button{
        $button_size: em(100);
        width: $button_size;
        height: $button_size;

        background: transparent;
        border: none;

        position: absolute;
        z-index: 2;
        padding: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-sizing: border-box;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
    }
    video{
        width: 100%;
        height: auto;
        object-position: center;
        object-fit: cover;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }
    .playing{
        video{
            opacity: 1;
        }
    }
    &.video-front{
        video{
            position: relative;
            z-index: 4;
        }
    }
    @media screen and(max-width: $mobile){
        height: em(250);
        .video-button{
            $button_size: em(70);
            width: $button_size;
            height: $button_size;
        }
    }
    
}
section{
    .section-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .title-border{
            text-shadow: 0 2px 4px rgba(0,0,0,0.05);
        }
        h3{
            font-size: em(52);
            font-weight: 500;
            line-height: em(62, 52);
        }
    }
    p{
        text-align: left;
        padding-left: em(60, 20);
        padding-right: em(100, 20);
        text-shadow: 0 2px 6px rgba(0,0,0,0.11);
    }
    @media screen and(max-width: $mobile){
        .section-title{
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            h3{
                font-size: em(32);  
            }
        }
        p{
            padding-left: 0;
        }
        .row{
            margin-left: 0;
            margin-right: 0;
        }
    }    
}
section#about{
    
}
section#clients{
    
    .client-type{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: em(100, 20);
        h5{
            font-size: em(19);
            line-height: em(44, 19);
            text-shadow: 0 2px 4px rgba(0,0,0,0.05);
        }
        .clients-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: em(20) 0;
            border-top: 1px solid rgba(255, 255, 255, 0.4);
            figure{
                width: 40%;
                height: em(160);
                box-sizing: border-box;
                padding: em(40) em(40);
                display: flex;
                align-items: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &:first-child .clients-container{
            border-top: none;
        }
        @media screen and(max-width: $mobile){
            margin-right: 0;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            h5{
                margin-bottom: 0;
            }
            .clients-container{
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                border-top: none;
                figure{
                    padding: 1.5em 1.5em;
                }
            }
            &:last-child .clients-container{
                border-bottom: none; 
            }
        }
    }

}
section#photo1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: em(250) 0;
    position: relative;
    &::before{
        content: '';
        width: 40vw;
        height: 75vh;

        min-width: em(480);
        min-height: em(552);
        background: #B7D3A9;
    }
    figure{
        width: 45vw;
        height: 60vh;
        min-width: em(660);
        min-height: em(440);
        overflow: hidden;
        z-index: 1;
        position: absolute;
        right: em(160);
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../assets/img/intro_footer_2.png');  
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;      
    }
    @media screen and(max-width: $mobile){
        &::before{
            width: 75vw;
            height: 65vh;
            min-width: auto;
            min-height: auto;
        }
        figure{
            width: 100%;
            height: 50vh;
            min-width: auto;
            min-height: auto;
            right: 0;
        }
    }
}
section#photo2{
    display: flex;
    justify-content: center;
    //margin-top: em(0);
    position: relative;
    z-index: 6;
    figure{
        width: 50vw;
        height: 35vw;
        min-width: em(800);
        min-height: em(533);
        z-index: 1;
        transform: translateY(40%);
        background-image: url('../assets/img/intro_footer_1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        box-shadow: 0 30px 55px 0 rgba(0,0,0,0.15);
    }
    @media screen and(max-width: $mobile){
        figure{
            width: 80%;
            height: 45vw;
            min-width: auto;
            min-height: auto;
        }
    }    
}
section#wwd{
    .flex{
        display: flex;
        align-items: center;
        margin: $margin 0;
        figure{
            width: 100%;
            height: em(220);
            img{
                height: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        .figures-container{
            position: relative;
            height: em(468);
            figure{
                position: absolute;
                height: 100%;
                transform: scale(0.8);
                opacity: 0;
                transition: all 0.3s ease-in-out;
                &.active{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        ul{
            padding: 0;
            margin: 0;
            padding-left: em(30);
            list-style: none;
            li{
                //line-height: em(62, 25);
                height: 62px;
                overflow: hidden;
                margin-bottom: em(50);
                color: white;
                transition: height 0.3s cubic-bezier(0.79, 0.02, 0.19, 1);
                
                h3{
                    font-size: em(52);
                    margin: 0;
                    display: inline-block;
                    cursor: pointer;
                    text-shadow: 0 2px 4px rgba(0,0,0,0.05);
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px currentColor;
                    transition: background-position 0.7s cubic-bezier(0.79, 0.02, 0.19, 1);
                    background: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 405 55"><path fill="#FFF" fill-rule="evenodd" d="M0 0h405v55H0z"/></svg>');
                    -webkit-background-clip: text;
                    background-position-x: -550px;
                    background-position-y: 50%;
                    background-size: 150% 100%;
                    background-repeat: no-repeat;
                    will-change: background;
                }
                p{
                    padding: 0;
                    transform: translateY(-10px);
                    opacity: 0;
                    transition: all 0.3s cubic-bezier(0.79, 0.02, 0.19, 1);
                    pointer-events: none;
                    max-width: em(390, 20);
                }
                figure{
                    display: none;
                }
                &:last-child{
                    margin-bottom: 0;
                }
                &:hover{
                    h3{
                        background-position-x: 0 !important;                        
                    }
                }
                &.active{
                    h3{
                        -webkit-text-fill-color: currentColor;
                        background-position-x: 0 !important;
                    }
                    p{
                        transform: translateY(0px);
                        opacity: 1;
                    }
                }
            }
            
        }
        @media screen and(max-width: $mobile){
            display: block;
            .figures-container{
                display: none;
            }
            ul {
                padding: 0;
                li{
                    height: auto !important;
                    overflow: visible;
                    pointer-events: none;
                    h3{
                        font-size: 2.25em;
                    }
                    figure{
                        display: block;
                    }
                    h3{
                        -webkit-text-fill-color: currentColor;
                        background-position-x: 0 !important;
                    }
                    p{
                        transform: translateY(0px);
                        opacity: 1;
                    }
                }
            }
        }
    }
}
section#concursos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}
#introFooter{
    display: flex;
    width: 100%;
    margin-top: $margin;

    figure{
        width: 50%;
        height: 60vh;
        min-height: em(490);
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
        }
    }
}
footer{
    $footer_bg: map-get($colors, "gray");
    padding-bottom: $margin;
    padding-top: em(400);
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $footer_bg;
        z-index: -1;
    }
    .contact{
        .title-border{
            &::before{
                margin-left: auto;
                margin-right: auto;
            }
        }
        & > p, form{
            margin-left: auto;
            margin-right: auto;
        }
        & > p{
            padding-left: em(32, 20);
            padding-right: em(32, 20);
            margin-top: em(30, 20);
        }
        form{
            margin-top: em(90);
            .form-element{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: em(20);
                label{
                    font-size: em(18);
                    font-weight: 500;
                    line-height: em(26, 18);
                    text-shadow: 0 2px 6px rgba(0,0,0,0.11);
                }
                input{
                    width: calc(100% - 190px);
                    height: 38px;
                    color: white;
                    border: 1px solid currentColor;
                    border-left-width: 6px;
                    background: transparent;
                }
                &:first-child{
                    margin-top: 0;
                }
            }
            .buttons{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: em(50);
                button{
                    padding: em(17, 14) em(32, 14);
                    box-sizing: border-box;

                    font-family: WorkSans-SemiBold;
                    font-size: em(14);
                    color: #FFFFFF;
                    text-align: center; 
                    border: none;
                    background: transparent;
                    &.send{
                        background: white;
                        color: $footer_bg;
                        margin-left: em(20, 14);
                    }
                }
            }
        }
    }
    .info-container{
        margin-top: em(60);
        padding-top: em(65);
        border-top: 1px solid currentColor;
        display: flex;
        justify-content: space-between;
        > * {
            padding-left: 0;
        }
        h5{
            font-weight: 500;
            font-size: em(20);
            line-height: em(26, 20);
            margin: 0;
            margin-bottom: em(28, 20);
            text-shadow: 0 2px 6px rgba(0,0,0,0.11);
        }
        a{
            color: currentColor;
        }
        svg{
            width: em(21);
            height: em(21);
            fill: currentColor;
        }
        .info{
            white-space: normal;
            font-size: em(20);
            line-height: em(26, 20);
            text-shadow: 0 2px 6px rgba(0,0,0,0.11);
            color: currentColor;
            display: flex;
            align-items: center;
        }
        .gmaps{
            svg{
                width: em(15);
                height: em(15);
                margin-left: em(-10);
                margin-right: em(6);
            }
        }
        .social{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    @media screen and(max-width: $mobile){
        padding-top: em(180);        
        .contact{
            .title-border, & > p{
                text-align: center;
            }
            form{
                .form-element{
                    label{
                        font-size: em(12);
                    }
                    input{
                        width: calc(100% - 130px);
                    }
                }
            }
        }
        .info-container{
            display: block;
            > *{
                margin-bottom: em(40);
            }
            .info{
                font-size: 0.95em;
            }
            .gmaps{
                svg{
                    margin-left: 0;
                }
            }
            .social{
                width: 50%;
            }
        }
    }    
}
@media screen and(max-width: $mobile){
    .container{
        margin-right: em(40);
        margin-left: em(40);
    }
}